# Visual Studio Code
**/.vscode/*
!**/.vscode/settings.json
!**/.vscode/settings.*.json
!**/.vscode/tasks.json
!**/.vscode/launch.json
!**/.vscode/extensions.json
!**/.vscode/*.code-snippets
**/.history/
*.vsix
.vscode-test

# Archive Files
*.7z
*.jar
*.rar
*.zip
*.gz
*.gzip
*.tgz
*.bzip
*.bzip2
*.bz2
*.xz
*.lzma
*.cab
*.xar
*.zst
*.tzst
*.iso
*.tar
*.dmg
*.xpi
*.gem
*.egg
*.deb
*.rpm
*.msi
*.msm
*.msp
*.txz
*.cab
*.msix

# Backup Files
*.bak
*.gho
*.ori
*.orig

# Diff Files
*.patch
*.diff

# .env Files
.env*
!.env.example

# Linux Files
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# Windows Files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk

# MacOS Files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Other Common Files
*.bak
*.tmp
*.orig
*.rej
**/tmp/
**/temp/

# Security Files
*.jks
*.keystore
*.pem
*.key

# Logs
logs
*.log
*-debug.log*
*-error.log*
*-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Intermediate, Coverage, and Output Files
**/coverage/
*.lcov
.nyc_output
.grunt
**/build/
*.tsbuildinfo
.next
out
.nuxt
**/dist/
**/target/
**/.vitepress
.docusaurus
.serverless/

# Cache and Dependency Files
**/bower_components/
**/node_modules/
**/jspm_packages/
**/web_modules/
.npm
.eslintcache
.stylelintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.node_repl_history
.yarn-integrity
**/.cache/
**/.parcel-cache/
.temp
.cache
.fusebox/
.dynamodb/
.tern-port
**/.yarn/
.pnp.*
